* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 200px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Lobster", cursive;
}

.card {
  max-width: 450px;
  /* width: 450px; */
  /*nechat width absolutní? 
  margin: 0 auto; */
  border: 2px solid black;
  border-radius: 10px 10px 0 0;
  /* border-radius = shorthand for top-left, top-right, bottom-right, bottom-left */
}

.card__image {
  max-width: 100%;
}

.card__buttons {
  display: block;
}
