* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  min-height: 100vh;
  /* padding-bottom: 200px; */
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Lobster", cursive;
}

.card {
  max-width: 350px;
  border: 2px solid black;
  border-radius: 10px 10px 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card__image {
  max-width: 100%;
  display: block;
}

.card__infoblock {
  background-color: #283e50;
}

.card__description {
  padding: 0 5px 0 5px;
}

.card__buttons {
  display: block;
}
