/*----styly pro celou stránku----*/
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 80vmin;
  display: flex;
  flex-direction: column;
  align-items: center;


}

h1 {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  letter-spacing: 0.16rem;
  text-align: center;
}

/*----styly pro řádek nad herní plochou----*/
.playing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%
}

.playing__player {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;

}


/*----styly pro "playing controls" v řádku nad herním polem----*/
.button__link,
.button__link:hover {
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  padding: 0.5rem;
}

.playing__controls--home {
  background: #1fcca4;
}

.playing__controls--home:hover {
  background-color: #1cbb96;
}

.playing__controls--restart {
  background-color: #0197f6;
}

.playing__controls--restart:hover {
  background-color: #0090e9;
}


/*----styly pro herní pole----*/
.playing-board {
  display: grid;
  grid-template-columns: repeat(10, minmax(30px, 50px));
  grid-template-rows: repeat(10, minmax(30px, 50px));

  aspect-ratio: 1;
  /*kvůli velikosti políček při zmenšení obrazovky*/
}

.playing-board__button {
  border-radius: 0;
  border: 1px solid black;
  /* background-color: rgb(213, 209, 218); */
  background: #ffffff46;
  cursor: pointer;

  aspect-ratio: 1;
  /*kvůli velikosti políček při zmenšení obrazovky*/
}

.playing-board__button:hover,
.playing-board__button:focus {
  /* background-color: rgb(195, 166, 223); */
  background: #ffffff93;
}
